/* Set general styles for the root container */
.root {
    -fx-background-color: #27282b;
    -fx-padding: 30px;
    -fx-alignment: center;
    -fx-font-family: "HK Grotesk Bold";
}


/********************       LOGIN SCREEN      **************************/



#loginLabel {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 36pt;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px;

}

#timezone {
    -fx-text-fill: #0e663d;
    -fx-font-weight: bold;
}


.label {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 18pt;
    -fx-text-fill: #FFFFFF;
}

.reports-label{
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 24pt;
    -fx-text-fill: #FFFFFF;
}

.small-label {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 12pt;
    -fx-text-fill: #CCCCCC;
    -fx-padding: 5px;
}


.text-field {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 14pt;
    -fx-background-color: #737373;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 250px;
    -fx-padding: 5px;
}


.button {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-background-color: #494E6B;
    -fx-text-fill: #F7F7F7;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}


.button:hover {
    -fx-background-color: #373d63;
    -fx-cursor: hand;
}


/********************       DIRECTORY SCREEN      **************************/
.directory-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-padding: 5px;
}

.table-view {
    -fx-background-color: #494E6B;
    -fx-table-cell-border-color: #F0F0F0;
}


.table-column {
    -fx-background-color: #444444;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #333333;
}




.table-view .column-header .label {
    -fx-background-color: #28262e;
    -fx-text-fill: #D3D3D3;
    -fx-font-size: 16px;
    -fx-padding: 2px;
}


.table-view .table-cell {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-background-color: #6e6e6e;
    -fx-font-family: "HK Grotesk Bold";
    -fx-padding: 2px;
    -fx-alignment: center;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #0e663d !important;
    -fx-text-fill: #F7F7F7 !important;
}



.radio-button {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 10pt;
    -fx-text-fill: #CCCCCC;
    -fx-font-weight: bold;
}


.radio-button:selected {
    -fx-text-fill: #0e663d;

}

/*****************************     COMBO BOX    ***********************************/



.combo-box {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 14pt;
    -fx-background-color: #494E6B;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-radius: 5px;
    -fx-accent: #373d63;
    -fx-focus-color: #373d63;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 250px;

}

.combo-box .text {
    -fx-fill: white;
}

.combo-box:hover {
    -fx-background-color: #373d63;
    -fx-cursor: hand;
}


.combo-box-popup {
    -fx-background-color: #494E6B;
}


.combo-box-popup .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #737373;

}


.combo-box-popup .list-cell:hover {
    -fx-background-color: #373d63;
}

/*********************************     DATE PICKER   ******************************/

.date-picker{
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 14pt;
    -fx-background-color: #737373;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 250px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
}


.date-picker .month-year-pane .spinner-label {
    -fx-text-fill: black;
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 16pt;
}


.date-picker .day-name-cell {

}


.date-picker .day-cell {

}


.date-picker .left-button,
.date-picker .right-button {
    -fx-background-color: transparent;
}

/
.date-picker .left-button .left-arrow,
.date-picker .right-button .right-arrow {
    -fx-background-color: #0e663d; /
}