/* Set general styles for the root container */
.root {
    /*-fx-background-color: #2d2d2d; /* Dark gray background */
    -fx-background-color: #27282b;
    -fx-padding: 30px; /* Padding around the edges */
    -fx-alignment: center; /* Center align the children */
    -fx-font-family: "HK Grotesk Bold";
}


/********************       LOGIN SCREEN      **************************/


/* Style the label displaying 'Login' */
#loginLabel {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 36pt; /* Large font size for the login label */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-padding: 10px; /* Some padding around the label */

}

#timezone {
    -fx-text-fill: #0e663d;
    -fx-font-weight: bold;
}

/* Style labels for username and password */
.label {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 18pt; /* Font size for username/password labels */
    -fx-text-fill: #CCCCCC; /* Light gray text */
}

.small-label {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 12pt; /* Font size for username/password labels */
    -fx-text-fill: #CCCCCC; /* Light gray text */
    -fx-padding: 5px;
}

/* Style text fields for username and password input */
.text-field {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 14pt; /* Font size for text input */
    -fx-background-color: #737373; /* Dark gray background */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-pref-width: 250px; /* Preferred width */
    -fx-padding: 5px; /* Padding inside the text field */
}

/* Style the buttons */
.button {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-weight: bold;
    -fx-font-size: 14pt; /* Font size for button text */
    -fx-background-color: #494E6B; /* Green background */
    -fx-text-fill: #F7F7F7; /* White text */
    -fx-padding: 10px 20px; /* Padding inside the button */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Change button color when hovered */
.button:hover {
    -fx-background-color: #373d63; /* Slightly darker green when hovered */
    -fx-cursor: hand;
}


/********************       DIRECTORY SCREEN      **************************/
.directory-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-weight: bold;
    -fx-font-size: 28pt;
    -fx-padding: 5px;
}
/* Set general styles for table views */
.table-view {
    -fx-background-color: #494E6B; /* Dark gray background */
    -fx-table-cell-border-color: #F0F0F0; /* Darker border between cells */
}

/* Style table columns */
.table-column {
    -fx-background-color: #444444; /* Dark gray background */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-border-color: #333333; /* Darker border color */
}



/* Style table column headers */
.table-view .column-header .label {
    -fx-background-color: #28262e;
    -fx-text-fill: #D3D3D3;
    -fx-font-size: 16px;
    -fx-padding: 2px;
}

/* Style table cells */
.table-view .table-cell {
    -fx-text-fill: #FFFFFF; /* Light gray text */
    -fx-font-size: 14px;
    -fx-background-color: #6e6e6e;
    -fx-font-family: "HK Grotesk Bold";
    -fx-padding: 2px; /* Padding inside the cell */
    -fx-alignment: center;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: #0e663d !important; /* Example: darker shade of blue */
    -fx-text-fill: #F7F7F7 !important; /* White text */
}


/* Style the radio buttons */
.radio-button {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 10pt; /* Font size for radio button text */
    -fx-text-fill: #CCCCCC; /* Light gray text */
    -fx-font-weight: bold;
}

/* Style radio button when selected */
.radio-button:selected {
    -fx-text-fill: #0e663d; /* Green text when selected */

}

/*****************************     COMBO BOX    ***********************************/



.combo-box {
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 14pt;
    -fx-background-color: #494E6B;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-border-radius: 5px;
    -fx-accent: #373d63;
    -fx-focus-color: #373d63;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 250px;

}

.combo-box .text {
    -fx-fill: white;
}

.combo-box:hover {
    -fx-background-color: #373d63;
    -fx-cursor: hand;
}

/* Style dropdown list in ComboBox */
.combo-box-popup {
    -fx-background-color: #494E6B;
}

/* Style list cell items in ComboBox dropdown */
.combo-box-popup .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #737373;

}

/* Change list cell background color in ComboBox dropdown when hovered */
.combo-box-popup .list-cell:hover {
    -fx-background-color: #373d63;
}

/*********************************     DATE PICKER   ******************************/

.date-picker{
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 14pt; /* Font size for text input */
    -fx-background-color: #737373; /* Dark gray background */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-pref-width: 250px; /* Preferred width */
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
}

/* This will change the text color of the months and years */
.date-picker .month-year-pane .spinner-label {
    -fx-text-fill: black; /* Change this to the color you want */
    -fx-font-family: "HK Grotesk Bold";
    -fx-font-size: 16pt; /* Font size for text input */
}

/* This will change the text color of the days of the week */
.date-picker .day-name-cell {
    /* Change this to the color you want */
}

/* This will change the text color of the days */
.date-picker .day-cell {
    /* Change this to the color you want */
}

/* Change the background color of the arrow buttons */
.date-picker .left-button,
.date-picker .right-button {
    -fx-background-color: transparent; /* Change this to your desired color */
}

/* Change the color of the arrow icons */
.date-picker .left-button .left-arrow,
.date-picker .right-button .right-arrow {
    -fx-background-color: #0e663d; /* Change this to your desired color */
}